/* 
 * The following style definitions can be removed when IE supports the "opacity" 
 * specification in place of its proprietary and non-standard method.
 */
.flag {
	filter: alpha(opacity=100);
}
.dimflag {
	filter: alpha(opacity=40);
}
#content {
	 height: 1%;
}
.width50, .admin_item_left, .admin_item_right  {
	width: 49%;
}
.admin_item_box, .person_box, .person_boxF, .person_boxNN {
	height: 1%;
}
.ie_popup_width {
	width: 150px;
}
#GedcomBlockFavLink {
	display: block;
}