HTML {
	color: #0E60EF;
	background-color: #FFFFFF;
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	width: 98%;
	margin-right: auto;
	margin-left: auto;
}
